header {
    display: flex;
    height: 120px;
    margin: 10px;
    background-image: url(../img/logoRaices.png);
    background-repeat: no-repeat;
    background-size: 200px;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.navmenu {
    width: 100%;
    margin-top: 70px;
    text-align: right;
    list-style: none;
    text-decoration: none;
    margin-right: 35px;
}

.navmenu li {
    display: inline-block;
    padding: 5px;

}

.navmenu li a {
    text-decoration: none;
    color: black;
}

.navmenu li img {
    vertical-align: middle;
}

br {
    color: rgb(220, 219, 219);
}

main {
    display: inline-flex;
    border-top:1px solid grey;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif; 
}

.portada {
    margin-left: 25%;
    width: 50%;
    height: auto;
}

.login {
    font-family: "Century Gothic";
    align-self: center;
    border: 1px solid;
    border-radius: 10px;
    border-color: rgb(220, 219, 219);
    padding: 10px;
    width: fit-content;
    height: fit-content;

}

.login input {
    border: solid rgb(1, 200, 200);
    border-radius: 5px;
}